.page-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.page-chunk {
  background: var(--bg_color);
  width: 100%;
  border-radius: var(--edge_rounding);
  
  margin-top: var(--margin_top);
  margin-bottom: var(--margin_bot);
}

.page-content {
  min-height: 60vh;
  background: var(--bg_color);

}

.site-footer {
  width: 100%;
  border-radius: var(--edge_rounding);
}