.page-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.page-chunk {
  background: var(--bg_color);
  width: 100%;
  border-radius: var(--edge_rounding);
  
  margin-top: var(--margin_top);
  margin-bottom: var(--margin_bot);

  display: flex;
  flex-direction: column;

  text-align: left;

  box-shadow: var(--smallshadow);
}

.page-content {
  min-height: 60vh;
  background: var(--bg_color);
  padding: 30px;
  border-radius: var(--edge_rounding)
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px;
  border-color: black;
  border-style: none none solid none;
}

.nav-header h1 {
  text-align: left;
  font-size: x-large;
}

.lang-select-prompt {
  text-align: right;
}

.language-warning {
  color:rgb(204, 36, 36);
  font-size: small;
  line-height: 120%;
}

.navlinks {
  display: flex;
  flex-direction: row;
  padding:10px;
  padding-top:5px;
  justify-content: space-evenly;
  gap: 3px;
}

.navbarlink {
  flex-grow: 4;
  
}

.lang-select {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size:smaller
}

.lang-select-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.lang-select-buttons button {
  border-style: none;
}

.site-footer {
  text-align: right;
  font-size: small;
  padding:10px;
}

/* Portfolio page */

.portfolio-field {
  display:flex;
  flex-direction: column;
  width:100%;
  gap:20px;
  /*align-items: flex-end;*/
}

.portfolio-field h2 {
  align-self:flex-start;
}
.portfolio-item {
  background-color: rgb(233, 233, 225);
  width: 85%;
  padding: 10px;
  border-radius: 10px;
  margin-left: 40px;

  border-color: black;
  border-style: solid;
  border-width: 1px;

  font-size: small;
}

.portfolio-item b {
  font-size: medium;
}

.portfolio-item li {
  line-height: 16px;
}

.portfolio-item p {
  margin-left: 20px;
}

/*Meta page*/

.contact-info-box {
  float: right;
  width: max-content;
  max-width:50%;
  margin-top:0px;
  margin-left:16px;
  margin-bottom:16px;
  padding-top:10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(233, 233, 225);
  border-radius: 10px; /* Edge rounding*/
  border-color: black;
  border-style: solid;
  border-width: 1px;
  text-align: center;

}

.contact-links-box {
  margin-top:30px;
  margin-bottom:30px;
}

.contact-links-box img {
  width:40px;
}

.contact-links-box p {
  font-size: medium;
  display:flex;
  gap: 10px;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
}