/***********************************************/
/* index.css :Global definitions and variables */
/***********************************************/

:root {
  --content_width: 71vw; /*Content box, header, footer*/
  --content_width_medium: 86vw; /* E.g. tablet on its side*/
  --content_width_mobile: 100vw;
  --bg_color: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
  
  --edge_rounding: 5px;
  --chunk-shadow: 10px 10px 30px #08080886;
  --small-shadow: 5px 5px 15px #08080848;

  --page-chunk-gap: 10px;
  --page-chunk-gap-mobile: 5px;
  --page-margins: 1vh;
  --page-margins-mobile: 5px;
  --page-content-padding: 30px;
  --page-content-padding-mobile: 10px;

  --text_color: #4f4b53;
  --text-color-heading: #08060d;

  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
  font: 18px/145% var(--font-sans);
  letter-spacing: 0.18px;
  
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-image: url(/img/bg.png);
  background-size:30%;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  @media (max-width: 1024px) {
    background-attachment:local;
  }
}

#root {
  width: var(--content_width);
  margin:auto;
  text-align: center;
  font-size:medium;
  color: var(--text_color);
  @media (max-width: 1300px) {
    width: var(--content_width_medium)
  }
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 20px;
    width: var(--content_width_mobile)
  }
}

h1,h2,h3,h4 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--text-color-heading);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 0px 0;
  line-height: 56px;
  @media (max-width: 1024px) {
    font-size: 26px;
    line-height: 30px;
    margin: 5px 0px;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 16px;
    line-height:22px;
  }
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.page-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:auto;
  gap: var(--page-chunk-gap);
  margin: var(--page-margins);
  @media (max-width: 1024px) {
    gap: var(--page-chunk-gap-mobile);
    margin: var(--page-margins-mobile);
  }
}

.page-chunk {
  background: var(--bg_color);
  width: 100%;
  border-radius: var(--edge_rounding);
  margin-top: var(--margin_top);
  margin-bottom: var(--margin_bot);
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: var(--chunk-shadow);
}

.page-content {
  min-height: 60vh;
  padding: var(--page-content-padding);
    @media (max-width: 1024px) {
    gap: var(--page-chunk-gap-mobile);
    margin: var(--page-margins-mobile);
    padding: var(--page-content-padding-mobile)
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px;
  border-color: black;
  border-style: none none solid none;

}

.nav-header h1 {
  text-align: left;
  font-size: x-large;
}

.lang-select-prompt {
  text-align: right;
}

.language-warning {
  color:rgb(204, 36, 36);
  font-size: small;
  line-height: 120%;
}

.navlinks {
  display: flex;
  flex-direction: row;
  padding:10px;
  padding-top:5px;
  justify-content: space-evenly;
  gap: 3px;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.navbarlink {
  flex-grow: 1;
}

.lang-select {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size:smaller
}

.lang-select-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.lang-select-buttons button {
  border-style: none;
}

.site-footer {
  text-align: right;
  font-size: small;
  padding:10px;
}




