:root {
  --content_width: 70vw; /*Content box, header, footer*/
  --content_width_mobile: 90vw;
  --bg_color: linear-gradient(0deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
  
  --borders: 2vh;
  --shadow: 0px 0px 80px #080808;
  --smallshadow: 10px 10px 30px #08080886;

  --shadow_gap: 0px 65px #08080886;
  --gap: 16px;
  --gap_mobile: 10px;
  --edge_rounding: 5px;

  --margin_top: 0px;
  --margin_top_mobile: 0px;
  --margin_edges: 40px;
  --margin_edges_mobile:10px;
  --margin_bot: 10px;
  --margin-header:30px;
  --margin-footer:10px;

  /*Teksti ja linkit*/
  --fontsize: 16px;
  --fontsize_mobile: 10px;
  --font_height:1.4;
  --typeface: courier;
  --linkColor :#1b0807;
  --linkHoverColor: #0b64b8;
  text-align: left;


  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  /*background: var(--bg);*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: var(--content_width);
  max-width: 100%;
  margin: auto;
  text-align: center;
  min-height: 100svh;
  box-sizing: border-box;

  font-size: medium;
}

body {
  margin: 0;
  background-image: url(/img/bg.png);
  background-size:30%;background-repeat: repeat;background-position: center;background-attachment: fixed;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
